@import url('https://fonts.googleapis.com/css?family=Istok+Web');

@font-face
{
font-family: yellowsun;
src: url('https://justatouch.com/yellowsun.otf'),
url('yellowsun.otf');
}

body {
	background-color: #e5fffb;
}


#main {
	
	padding: 50px;
}

#header {
	margin: 0 auto;
	width: 700px;
	font-family: 'Istok Web';
	font-size: 15pt;
	text-align:justify;
	padding: 10px;
}

#about {
	padding: 10px;
	margin: 0 auto;
	width: 700px;
	font-family: 'Istok Web';
	font-size: 15pt;
	text-align: justify;
}

#futuredog {
	padding: 10px;
	margin: 0 auto;
	width: 700px;
	font-family: 'Istok Web';
	font-size: 15pt;
	text-align: justify;
}

#credits {
	padding: 10px;
	margin: 0 auto;
	width: 700px;
	font-family: 'Istok Web';
	font-size: 15pt;
}

#logos {
	padding: 20px;
	text-align: center;
}

#title {
	font-family: 'yellowsun';
	font-size: 60pt;
	font-weight: bold;
	text-align: center;
	padding: 30px;
}

h1 {
	font-family: 'yellowsun';
	font-size: 40pt;
	font-weight: bold;
	text-align: center;
}

h2 {
	display: inline;
	font-family: 'Istok Web';
	font-size: 15pt;
	color: #00ba9e;
}

h4 {
	padding-top:20px;
	padding-bottom:0;
	font-family: 'yellowsun';
	font-size: 30pt;
	font-weight: bold;
	text-align: center;
}

h5 {
	font-family: 'yellowsun';
	font-size: 17pt;
	font-weight: bold;
	text-align: center;
	padding: 0;
	margin: 5px;
}

.future {
	display: flex;
	width: 200px;

}
